.service-page-container {
 display: flex;
 flex-direction: column;
 max-width: 800px;
margin-left: auto;
margin-right: auto;
  }
  
  .service-form{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
    margin: 100px 0;
  }
  
  .service-form h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .service-form label {
    display: block;
    margin-bottom: 8px;
    color: #333;
  }
  
  .service-form input[type="text"],
  .service-form textarea,
  .service-form select,
  .service-form input[type="number"],
  .service-form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .service-form input[type="submit"] {
    width: 100%;
    background-color: #020202;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .service-form input[type="submit"]:hover {
    background-color: #999999;
  }
  
  .service-list-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px 0;
  }
  
  .service-list-container h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .service-item {
    border: 1px solid rgb(233, 233, 233);
    padding: 20px;
    border-radius: 8px;
  
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .item-contents h3 {
    text-align: left;
    margin: 0;
  }
  
  .item-contents p{
    margin: 10px 5px;
   color: #333;
   font-size: 13px;
   
  }

  .item-contents p span{
    font-weight: 700;
  }

  .item-buttons button {
    background-color: #181818;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
  }
  
  .item-buttons button:hover {
    background-color: #6e6e6e;
  }

  .item-contents{
    display: flex;
    align-items: center;
  }

  .item-contents img{
    width: 150px;
    margin-right: 25px;
  }



  .item-buttons{
    display: flex;
  }

  @media (max-width: 650px){
    .item-contents{
        flex-direction: column;
        text-align: center;
    }
    .item-contents h3{
        text-align: center;
        margin-top: 30px;
    }
    .service-item{
        flex-direction: column;
    }
    .item-contents img{
        margin-right: 0;
    }
    .item-buttons{
        margin-top: 30px;
    }
  }