.header{
    display:flex;
    justify-content: center;
    width: 100%;
}

/*Section 1: Grid*/
.suggestions{
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    font-size: 30px;
}

.header .suggestions{
    width:30% ;
    height: fit-content;
    padding:20px;
    margin:0px 50px 50px 50px;
}
.suggestionsContainer{
    border: 1px solid #E4E4E4;
    border-radius: 10px;
}
h3{
 width:100%;
 text-align: center;
}
.suggestionGrid {
    display: grid;
    grid-auto-columns: auto;
    grid-gap: 20px;
    padding: 15px 20px;
  }
  .suggestionGrid > div {
    text-align: center;
    font-size: 12px; 
    padding: 10px;
    
  }
  .suggestionGrid div:hover{
    background-color: #fbfbfb;
    
    border-radius: 10px;
  }

.grid-item1 { grid-area: 1 / 1 / 2 / 2; }
.grid-item2 { grid-area: 1 / 2 / 2 / 3; }
.grid-item3 { grid-area: 1 / 3 / 2 / 4; }
.grid-item4 { grid-area: 2 / 1 / 3 / 2; }
.grid-item5 { grid-area: 2 / 2 / 3 / 3; }
.grid-item6 { grid-area: 2 / 3 / 3 / 4; }

.suggestionGrid div img{
    width: 100%;
    border-radius: 10px;
}



/*Section 2: image Transitions*/
.header .headerTransition{
    width:70%;
    margin: 70px 50px 50px 50px;
}

.headerTransition{
    text-align: center;
}

.headerTransition div img{
    width:100%;
    border-radius: 10px;
}


/*Service Page*/

.suggestionList{
    display: flex;
    flex-direction: column;
}
/* 
.list-item1,
.list-item2,
.list-item3,
.list-item4,
.list-item5,
.list-item6{
display: flex;
} */

.suggestionList div{
    display: flex;
    padding: 15px 10px;
    justify-content: space-evenly;
    align-items: center;
}

.suggestionList div::after{
    content: '';
    border-bottom: 1px solid #ccc;
}

.suggestionList div img{
    width: 70px;
    border-radius: 15px;
}

.service-heading{
    width: 250px;
    font-weight: 500;
    text-align: left;
    font-size: 28px;
}

.suggestions{

    position: sticky;
    top: -125px;

  
}

.suggestionList div{
    border-bottom: 1px solid #fbfbfb;
}

.suggestionList div:hover{
    background-color: #fbfbfb;
    cursor: pointer;
}

.service-content{
    width: 70%;
    margin: 70px 50px 50px 50px;
}
.service-content .headerTransition{
    width: 100%;
    margin: 0;
}

