nav {
  padding: 0px 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.hamburger-icon{
  display: none;
}

nav .search-boxes input {
  padding: 10px 10px;
  margin: 10px;
  width: 300px;
  border-radius: 5px;
}

.search-boxes {
  display: flex;
}

.location {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  position: relative;
}

.logo h2 {
  font-weight: 400;
  letter-spacing: 10px;
  margin-left: 15px;
  font-size: 28px;
}

nav a {
  text-decoration: none;
  color: black;
}

@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blinkCaret {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}

.animated-placeholder-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.input-with-animated-placeholder {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.static-text {
  padding-left: 10px;
  color: #999;
  font-size: 14px;
}

.static-text img {
  width: 12px;
  padding-top: 10px;
  padding-right: 10px;
}

.placeholder-wrapper {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  white-space: nowrap;
  overflow: hidden;
  width: calc(100% - 10px);
}

.placeholder-text {
  font-size: 14px;
  display: inline-block;
  animation: typewriter 2.5s steps(30) 1s 1 normal both, blinkCaret .75s step-end infinite;
  color: #999;
  padding-bottom: 8px;
}



.side-nav {
  display: none;
  position: fixed;
  top: 5%;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: white;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  padding: 20px;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}



.side-nav .search-boxes{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.side-nav .search-boxes input{
  width: 100%;
}

.side-nav.visible {
  display: block; /* Show the side nav */
  transform: translateX(0); /* Slide in the side nav */
}



@media (max-width: 1120px) {
  nav {
      padding: 0px 20px;
      
  }

  .admin-links{
    display: none;
  }

  .hamburger-icon{
    display: block;
    width: 25px;
  }
  .search-boxes {
      flex-direction: column;
      align-items: stretch;
      display: none;
  }

  .side-nav .search-boxes{
    display: block;
  }
  nav .search-boxes input {
      width: 100%;
      margin: 5px 0;
  }

  .logo h2 {
      margin: 10px 0;
      font-size: 24px;
  }
  .nav-button{
    display: none;
  }

  .side-nav .nav-button{
    display: block;
    margin-top: 50px;
    width: 90%;
    margin-left: auto ;
    margin-right: auto ;
  }

  .side-nav .admin-links{
    display: block;
    margin-top: 50px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  nav {
      padding: 0px 10px;
  }

  .logo h2 {
      margin: 5px 0;
      font-size: 20px;
  }

  nav .search-boxes input {
      padding: 8px;
      font-size: 14px;
  }

  .input-with-animated-placeholder {
      padding: 8px;
      font-size: 14px;
  }

  .placeholder-text {
      font-size: 12px;
  }
}
