.top-categories h2 {
    text-align: center;
    margin: 30px 20px 40px 20px;
}


.cards a{
    text-decoration: none;
    color: black;
    margin: 0 auto;
    width: 100%;
}
.cards{
    margin: 40px auto;
    display:flex;
    width: 90%;
    justify-content: center;
}

.cardDetails{
    width: 70%;
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #E4E4E4;
    border-radius: 10px;
}
.cardDetails a{
    text-decoration: none;
    color: black;
}

.cardDetails img{
    width:90%;
    margin-top: 10px;
    border-radius: 10px;
}
.categoryHeading{
    width: 90%;
    text-align: left;
    margin-bottom: 5px;
}
.cardDetails p{
    text-align: left;
    width: 90%;
    font-size: 14px;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    margin: 0 auto;
    width: 100%;
}

.cardDetails a {
    text-decoration: none;
    color: black;
    margin: 0 auto;
    width: 100%;
}




.cardDetails p {
    text-align: left;
    width: 90%;
    font-size: 14px;
    margin-bottom: 10px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .cardDetails {
        width: 80%;
    }

    .cardDetails img {
        width: 85%;
    }

    .categoryHeading {
        font-size: 16px;
    }

    .cardDetails p {
        font-size: 13px;
    }
}

@media (max-width: 992px) {

.top-categories{
    margin: 0 auto;
    width: 100%;
    padding: 0 10px;
}

    .cards {
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        
    }

    .cardDetails {
        width: 75%; /* 2 cards per row */
        margin: 10px auto; /* Adjust margins for spacing */
    }
    .cards a{
        width: 45%;
    }
    .cardDetails img {
        width: 80%;
    }

    .categoryHeading {
        font-size: 15px;
    }

    .cardDetails p {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .cardDetails {
        width: 75%; /* 2 cards per row */
        margin: 10px auto; /* Adjust margins for spacing */
    }
    .cards a{
        width: 45%;
    }

    .cardDetails img {
        width: 75%;
    }

    .categoryHeading {
        font-size: 14px;
    }

    .cardDetails p {
        font-size: 11px;
    }
}

@media (max-width: 576px) {
    .top-categories h2 {
        font-size: 24px;
        margin: 20px 10px 30px 10px;
    }

    .cards {
        flex-direction: column;
        width: 100%;
    }

    .cardDetails {
        padding: 15px;
        width: 80%;
    }

    .cards a{
        width: 100%;
    }

    .cardDetails{
        font-size: 20px;
    }

    .cardDetails img {
        width: 70%;
    }

    .categoryHeading {
        font-size: 18px;
        text-align: center;
    }

    .cardDetails p {
        font-size: 15px;
        text-align: center;
    }
}
